# Data Science Tools and Ecosystem

## Author
Shrayansh Pandey

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular libraries for Data Science
* List of data science tools
* Arithmetic expressions in python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Javascript
8. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch

| Data Science Tools |
| --- |
| SQL |
| Apache AirFlow |
| KubeFlow |
| Apache Kafka |
| Apache Nifi |
| Apache SparkSQL |
| NodeRED |
| Pixie Dust |
| Hue |
| Kibana |
| Apache Superset |
| Apache PredictionIO |
| Seldon  |
| TensorFlow service |
| ModelDB |
| Prometheus |
| IBM AI Fairness 360 open-source toolkit |
| IBM Adversarial Robustness 360 Toolbox |
| GitHub |
| GitLab  |
| Bitbucket |
| Apache Atlas |
| ODPi Egeria |
| Kylo |
| Jupyter Notebooks and Jupyter Lab |
| Apache Zeppelin |
| RStudio |
| Spyder |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335